In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/spam_ham_dataset.csv')

In [3]:
df.drop(columns=["Unnamed: 0"], inplace=True)

In [4]:
df.head()

  label                                               text  label_num
0   ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  spam  Subject: photoshop , windows , office . cheap ...          1
4   ham  Subject: re : indian springs\r\nthis deal is t...          0

In [5]:
df.shape

(5171, 3)

In [6]:
df.duplicated().sum()

np.int64(178)

In [7]:
df.drop_duplicates(inplace=True)

In [9]:
df.isnull().sum()

label        0
text         0
label_num    0
dtype: int64

In [10]:
df["label"].value_counts()

label
ham     3531
spam    1462
Name: count, dtype: int64

In [11]:
df.iloc[182]["text"]

'Subject: re : industrial report\r\nsince unify { mop } is down today it will be impossible to meet my\r\naggressive deadline for completing\r\nthe " ken seaman " report .\r\nonce the system is up and running , i will complete the report and\r\nthe julie meyers report .\r\ni am updating both reports with the information available .\r\nthis message really is intended for gary because daren and pat is\r\naware of my situation .\r\n- - - - - - - - - - - - - - - - - - - - - - forwarded by robert e lloyd / hou / ect on 08 / 01 / 2000\r\n02 : 48 pm - - - - - - - - - - - - - - - - - - - - - - - - - - -\r\nfrom : robert e lloyd on 07 / 31 / 2000 09 : 50 am\r\nto : pat clynes / corp / enron @ enron\r\ncc : daren j farmer / hou / ect @ ect , gary a hanks / hou / ect @ ect , robert e\r\nlloyd / hou / ect\r\nsubject : re : industrial report\r\ni will have the " ken seaman " file completed by the end of day august lst .\r\nenron north america corp .\r\nfrom : pat clynes @ enron 07 / 31 / 2000 09 : 40 am\r\nto : robert e lloyd / hou / ect @ ect\r\ncc : robert e lloyd / hou / ect @ ect , daren j farmer / hou / ect @ ect , gary a\r\nhanks / hou / ect @ ect\r\nsubject : re : industrial report\r\ni am referring to ken seaman \' s file which provides additional information .\r\nwe definitely need ken \' s\r\nfile completed by aug lst . and distributed to our group , daren farmer , and\r\ngary hanks . both files should\r\nbe completed and can be linked on duplicate information . thanks , pat\r\nrobert e lloyd @ ect\r\n07 / 31 / 2000 09 : 29 am\r\nto : pat clynes / corp / enron @ enron\r\ncc : robert e lloyd / hou / ect @ ect , daren j farmer / hou / ect @ ect , gary a\r\nhanks / hou / ect @ ect\r\nsubject : re : industrial report\r\ni am confused . what file do you want me to update ; julie meyers file or ken\r\nseaman file ?\r\nboth files provide similar data which is helpful to all of our support\r\ngroups .\r\nto prepare both files i feel is a duplicate of my efforts . please let\r\nknow if you want both files updated\r\nand the approximate time table for completion .\r\nenron north america corp .\r\nfrom : pat clynes @ enron 07 / 31 / 2000 09 : 02 am\r\nto : robert e lloyd / hou / ect @ ect\r\ncc : daren j farmer / hou / ect @ ect , gary a hanks / hou / ect @ ect\r\nsubject : re : indutrial report\r\nrobert ,\r\nthis is the file that i referenced in my last email . please get this file\r\ngoing again . thanks , pat\r\ndaren j farmer @ ect\r\n02 / 25 / 2000 04 : 52 pm\r\nto : robert e lloyd / hou / ect @ ect\r\ncc : pat clynes / corp / enron @ enron\r\nsubject : indutrial report\r\nrobert ,\r\nken developed an industrial report before he left . it can be found at\r\no / logistics / kenseaman / industrialsmonthly / . . . there is one file for each\r\nmonth of 2000 . i need you to update this for march . this will need to be\r\ndistributed to gas control , logistics , and myself . let me know if you have\r\nany questions .\r\nd'

In [12]:
subjects = [] 

for i in range(len(df)):
    textData = df.iloc[i]["text"] 

    line = " "
    for i in textData:
        if(i == '\r'):
            break
        line = line + i
    line = line.replace("Subject:", " ")
    
    subjects.append(line)

df["subjects"] = subjects

In [13]:
df.head()

,label,text,label_num,subjects
0,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,enron methanol ; meter # : 988291
1,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,"hpl nom for january 9 , 2001"
2,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,neon retreat
3,spam,"Subject: photoshop , windows , office . cheap ...",1,"photoshop , windows , office . cheap . main..."
4,ham,Subject: re : indian springs\r\nthis deal is t...,0,re : indian springs